
/* Header */
    header{
        height: auto;
    }
    header > #banner-main{
        position: relative;
        height: 35vh;
        width: 100%;
        background: linear-gradient(to right, rgba(50, 49, 49, 0.877), transparent),
        url(../img/vela-grande.jpg) scroll no-repeat center center;
        background-size: cover;
    }
    header > #banner-main > #description-banner{
        letter-spacing: 0.3em;
        text-align: center;
        font-size: 1em;
        width: 100%;
        padding: 0px 0.5em 0px 0.5em;
        color: rgba(255, 255, 255, 0.815);
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* main */
    main{
        margin: 2em 0px 0px 0px;
    }
    #product-categories > #title-categories{
        text-align: center;
        margin:0px 0px 2em 0px;
    }
    #product-categories-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .photos-categories{
        height: 38vh;
        width: 80%;
    }
    #product-categories-photo:last-child{
        margin-bottom: 6em;
    }
    #product-categories-photo > #vela{
        background: linear-gradient(to top, rgba(50,49,49,0.877), transparent) ,url(../img/vela-rose.jpg) scroll no-repeat top center;
        background-size: cover;        
    }
    #product-categories-photo > #sabonete{
        background: linear-gradient(to top, rgba(50,49,49,0.877),transparent),url(../img/sabonete.jpg) scroll no-repeat center center;
        background-size: cover;
    }
    #product-categories-photo > #doce{
        background: linear-gradient(to top, rgba(50,49,49,0.877),transparent),url(../img/doce.jpg) scroll no-repeat center center;
        background-size: cover;
    }
    .photos-categories{
        position: relative;
    }
    #product-categories-photo  .description-categories{
        color: white;


        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
   
/* Tablets */
    @media (min-width: 768px) and (max-width:992px){
        /* Header */
            header > #banner-main{
                min-height: 50vh;
                max-height: 50vh;
                max-width: 100%;
                
            }
            header > #banner-main > #description-banner{
                font-size: 1.7em;
            }

        /* Main */
            #product-categories > #title-categories{
                font-size: 2.7em;
            }
            .photos-categories{
                height: 38vh;
                max-width: 70%;
            }
    }

/* Monitores */
    @media (min-width:993px) and (max-width:1200px){
        /* Header */
            header > #banner-main{
                min-height: 73vh;
                max-width: 100%;
                
            }
            header > #banner-main > #description-banner{
                font-size: 1.7em;
            }

        /* Main */
            #product-categories-photo{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 1.6em;
            }
            #product-categories > #title-categories{
                font-size: 2.7em;
            }
            .photos-categories{
                min-height: 48vh;
                max-width: 30%;
            }
    }

/* Telas Grandes */
    @media (min-width:1201px){
    /* Header */
        header > #banner-main{
            min-height: 73vh;
            max-width: 100%;
            
        }
        header > #banner-main > #description-banner{
            font-size: 1.7em;
        }

    /* Main */
        #product-categories-photo{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1.6em;
        }
        #product-categories > #title-categories{
            font-size: 2.7em;
        }
        .photos-categories{
            min-height: 48vh;
            max-width: 30%;
        }
    }
