/* All elements */
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }


/* Header */
    header > nav{
        height: 8vh;
    }
    header > nav{
        padding-top: 1em;
    }

/* Footer */
    #social-media{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
    #social-media > .medias{
        width: 6% ;
    }
    #social-media #facebook-logo{
        color: white;
    }
    #social-media #instagram-logo{
        color: white;
    }

/* Tablets */
@media (min-width: 768px) and (max-width: 992px){
   /* Header */
        header > nav{
            height: 14vh;
        }
        header > nav{
            padding-top: 3.5em;
        }
        header> nav .material-icons{
            font-size: 2em;
        }
        header > nav  #logo{
            font-size: 1.8em ;
        }

    /* Footer */
        #social-media > .medias{
            width: 3% ;
        }
        
}
/* Monitores */
@media (min-width:993px) and (max-width:1200px){
    /* Header */
        header > nav{
            height: 25vh;
        }
        header > nav{
            padding-top: 3.5em;
        }
        header> nav .material-icons{
            font-size: 2em;
        }
        header > nav  #logo{
            font-size: 1.8em ;
        }

    /* Footer */
        #social-media > .medias{
            width: 2% ;
        }
    
}
/* Telas Grandes */
@media (min-width:1201px){
    /* Header */
    header > nav{
        height: 25vh;
    }
    header > nav{
        padding-top: 4.5em;
    }
    header> nav .material-icons{
        font-size: 2em;
    }
    header > nav  #logo{
        font-size: 2em ;
    }

    /* Footer */
        #social-media > .medias{
            width: 2% ;
        }


}